@import url('../resource/variables.css');

/* header */
header {
    position: sticky;
    top:0;
}
/* Navigation */
.navigation {
    background-color: var(--white);
    box-shadow: 8px 0 16px var(--shadow-color);
}
.nav-img {
    border-radius: 8px;
    width: 6rem;
}
.nav-search {
    border: 1px solid var(--shadow-color);
    border-radius: 8px;
    background-color: var(--background-grey);
}
.nav-search-input, .nav-search-btn {
    background-color: inherit;
}
.nav-search:focus-within {
    background-color: white;
}
.nav-search-input:focus {
    outline: none;
} 
.padding-sm {
    padding:0.4rem;
}

