@import url('../../resource/style.css');
@import url('../../resource/variables.css');

/* Cross icon */
.card-cross {
    cursor: pointer;
}

/* Block button */
.btn-block {
    background-color: var(--secondary-color);
}
.btn-block:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    opacity: 0.8;
}
